.logo span{
  color: red;
  font-size: 25px;
  font-weight: 500;
}
.logo{
  font-size: 25px;
  font-weight: 600;
}

/* .navbar{
  position: fixed;
  top: 0;
} */
.container-fluid{
  font-size: 18px;
  font-weight: 400;
}